/* DEFAULT CSS */
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
}

/* NAVBAR */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav-toggle span {
  background: #000;
  height: 3px;
  width: 25px;
  margin: 4px 0;
  display: block;
}

.nav-links {
  display: flex;
  gap: 30px;
  font-weight: bold;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links.mobile {
  display: none;
  flex-direction: column;
  width: 90%;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-links.mobile.show {
  display: flex;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }

  .nav-links.desktop {
    display: none;
  }
}

@media (max-width: 480px) {
  .btn-contact-nav {
    width: 80%;
  }
}

.button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* Customer acquisition banner Section */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  max-width: 1200px;
  margin: auto;
}

.hero-text {
  flex: 1 1 500px;
  padding: 20px;
}

.hero-text h5 {
  color: #003cff;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.hero-text h2 {
  font-size: 2.7rem;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: #1c1c1c;
}

.hero-text p {
  margin-bottom: 2rem;
  max-width: 500px;
  flex: 1;
  min-width: 250px;
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.hero-buttons .btn {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.btn-black {
  background-color: #000;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.hero-image {
  flex: 1 1 400px;
  padding: 20px;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .hero-image {
    flex: 1 1 200px;
    padding: 20px;
  }

  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
    padding: 40px 16px;
    margin-top: -30px;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-text p {
    font-size: 1rem;
    margin: 0 auto 1.5rem;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-section-two {
    flex-direction: column;
    text-align: center;
    padding: 40px 16px;
    margin-top: -30px;
  }
}

/* customer acquisition stats section */

.stats-section {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}

.stat-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  border-radius: 20px;
  padding: 2rem;
  max-width: 1150px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-color: #003cff;
  border-width: 3px;
  border-style: solid;
}

.stat h2 {
  font-size: 2.5rem;
  color: #003cff;
  margin-bottom: 0.5rem;
}

.stat p {
  font-size: 1rem;
  color: #0E131F;
  margin: 0;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .stats-section {
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
  }

  .stat-box {
    flex-direction: column;
    padding: 1.5rem;
  }

  .stat {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .stat h2 {
    font-size: 2rem;
  }

  .stat p {
    font-size: 0.95rem;
  }
}






/* customer acquistion how to SECTION */
.doc-section {
  padding: 4rem 1rem;
}

.doc-container {
  display: flex;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.doc-left {
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doc-image-placeholder {
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #888;
}

.doc-right {
  flex: 1 1 45%;
}

.doc-right h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;

  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 500;
  line-height: 1.2;
  color: #1c1c1c;
}

.doc-feature {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f2f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon-circle i {
  font-size: 1.2rem;
  color: #1e32e8;
}

.doc-feature h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.doc-feature p {
  color: #444;

  font-size: 1rem;
  color: #0E131F;
  margin: 0;
  line-height: 1.6;


}

@media (max-width: 768px) {
  .doc-container {
    flex-direction: column-reverse;
  }

  .doc-left, .doc-right {
    flex: 1 1 100%;
  }

  .doc-image-placeholder {
    height: 250px;
  }
}













/* wealth management trends section */

.trends-section {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}

.trends-box-outer {
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  max-width: 1150px;
  padding: 2rem;
  border-color: #003cff;
  border-width: 3px;
  border-style: solid;
  .trend-box-header {
    font-weight: 600;
    font-size: 1rem;

    text-align: center;
    margin-bottom: 30px;
  }
}

.trends-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.trend {
  max-width: 300px;
}

.trend h2 {
  font-size: 2.5rem;
  color: #003cff;
  margin-bottom: 0.5rem;
}

.trend p {
  font-size: 1rem;
  color: #0E131F;
  margin: 0;
  line-height: 1.6;
}

.trend-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.trend-icon {
  color: #003cff;
  font-size: 1.6rem;
  width: 56px;
  height: 56px;
  margin-bottom: 20px;
  border-color: #003cff;
  border-width: 3px;
  border-style: solid;
  /*margin: 0 auto 1rem;*/
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .trends-section {
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
  }

  .trends-box {
    flex-direction: column;
    padding: 1.5rem;
  }

  .trend {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .trend h2 {
    font-size: 2rem;
  }

  .trend p {
    font-size: 0.95rem;
  }

  .trend-icon {
    width: 48px;
    height: 48px;
    font-size: 1.4rem;
  }
}





















/* FOOTER */
.footer {
  background: #003cff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
  margin-top: 30px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: red;
}