/* DEFAULT CSS */

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000;
}

/* NAVBAR */
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    flex-wrap: wrap;
    position: relative;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .nav-toggle span {
    background: #000;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    display: block;
  }
  
  .nav-links {
    display: flex;
    gap: 30px;
    font-weight: bold;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .nav-links.mobile {
    display: none;
    flex-direction: column;
    width: 90%;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .nav-links.mobile.show {
    display: flex;
  }

  @media (max-width: 768px) {
    .nav-toggle {
      display: flex;
    }
  
    .nav-links.desktop {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .btn-contact-nav {
      width: 80%;
    }
  }

  .button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }



/* demo Section */

.demo-banner {
    display: flex;
    justify-content: center;
}











/* FOOTER */
.footer {
  background: #003cff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
  margin-top: 30px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: red;
}


